html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	z-index: 999;
}

.sky {
	height: 100%;
	background: url("../img/dusk.jpg") no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
	display: none;
	opacity: 0.1
}

.msg_board {
	width: 15.7%;
	position: absolute;
	top: 78.5%;
	left: 11%;
	cursor: pointer;
}

.cli_tips {
	overflow: hidden;
	width: 92%;
	margin: 3% auto;
}

.msg_board img,
.cli_tips img {
	width: 100%;
}

.photo,.turn_back_heritage {
	width: 16.7%;
	float: right;
	margin-right: 2%;
}

.personal_id {
	width: 16.7%;
	float: right;
}



.clouds_one,
.clouds_two {
	background: url("../img/cloud_one.png") no-repeat;
	background-position: right;
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation-fill-mode: forwards !important;
	-ms-animation-fill-mode: forwards !important;
	-o-animation-fill-mode: forwards !important;
	animation-fill-mode: forwards !important;
}

.clouds_one {
	height: 100%;
	width: 185%;
	display: none;
	left: 0;
	top: 0;
	-webkit-animation: cloud_one 50s linear 1;
	-moz-animation: cloud_one 50s linear 1;
	-o-animation: cloud_one 50s linear 1;
	animation: cloud_one 50s linear 1;
}

.clouds_two {
	height: 100%;
	width: 180%;
	display: none;
	right: 0;
	top: 0;
	-webkit-animation: cloud_two 40s linear 1;
	-moz-animation: cloud_two 40s linear 1;
	-o-animation: cloud_two 40s linear 1;
	animation: cloud_two 40s linear 1;
}

@keyframes sky_background {
	from {
		opacity: 0.1
	}
	to {
		opacity: 1
	}
}

@-webkit-keyframes cloud_one {
	from {
		left: -50%;
	}
	to {
		left: -2000%;
	}
}

@-moz-keyframes cloud_one {
	from {
		left: -50%;
	}
	to {
		left: -2000%;
	}
}

@keyframes cloud_one {
	from {
		left: -50%;
	}
	to {
		left: -2000%;
	}
}

@-webkit-keyframes cloud_two {
	from {
		right: -50%;
	}
	to {
		right: -2000%;
	}
}

@-moz-keyframes cloud_two {
	from {
		right: -50%;
	}
	to {
		right: -2000%;
	}
}

@keyframes cloud_two {
	from {
		right: -50%;
	}
	to {
		right: -2000%;
	}
}

#scrollBox {
	position: absolute;
	bottom: 17%;
	font-size: 18px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 420px;
	line-height: 30px;
	z-index: 1001;
}

ul,
li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	color: #65282A;
}


#con1 {
	position: absolute;
	bottom: -420px;
	width: 100%;
}

#con2 {
	display: none;
}

.delete {
	position: absolute;
	bottom: 11%;
	right: 2%;
	border: 1px #65282A solid;
	border-radius: 5px;
	padding: 3px 9px 5px 9px;
	font-size: 14px;
}

.delete img {
	width: 100%;
	display: block;
}






.mask_bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(9, 9, 9, 0.33);
	display: none;
	width: 100%;
	height: 100%;
}

.zoom {
	position: absolute;
	-moz-transform: translate(-150px, -120px);
	-webkit-transform: scale(1.1) translate(-150px, -120px) skew(15deg, -30deg);
	-ms-transform: scale(1.1) translate(-150px, -120px) skew(15deg, -30deg);
	-o-transform: scale(1.1) translate(-150px, -120px) skew(15deg, -30deg);
	transform: scale(1.1) translate(-150px, -120px) skew(15deg, -30deg);
}

.mask_msg {
	width: 308px;
	height: 309px;
	margin: 0 auto;
	margin-top: 30%;
	background: url(../img/msg_board_bg.png) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.mask_msg_bg {
	width: 308px;
	height: 309px;
	margin: 0 auto;
	margin-top: 30%;
	background: url(../img/msg_board_bg.png) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}

.textarea {
	width: 94%;
	height: 44%;
	margin: 0 auto;
	display: block;
	resize: none;
	position: relative;
	top: 38%;
	outline: none;
	font-size: 14px;
	border: 0;
	line-height: 20px;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	color: #535353;
	text-align: center;
}

.sure_btn {
	position: relative;
	top: 43%;
	text-align: center;
}

.sure_btn button {
	background: #FB6362;
	color: #FFF8FC;
	padding: 5px 11px;
	border: 0;
	font-size: 13px;
	letter-spacing: 0.5px;
	border-radius: 7px;
	outline: none;
	cursor: pointer;
}

.mask_msg_navbar {
	width: 100%;
	max-width: 88%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	margin-top: 3%;
}

.mask_msg_navbar img {
	width: 44%;
}

.fl_lt {
	width: 33.33%;
	float: left;
}

.nav_center {
	width: 33.34%;
	float: left;
}

.fl_rg {
	width: 33.33%;
	float: right;
}

.back_btn {
	width: 100%;
	max-width: 82%;
	margin: 0 auto;
	margin-top: 24%;
	overflow: hidden;
	outline: none;
}

.btn_align_left {
	float: left;
	background: #FB6362;
	color: #FFF8FC;
	padding: 5px 8px;
	border: 2px #FDFFFA solid;
	font-size: 12px;
	letter-spacing: 0.5px;
	border-radius: 7px;
	margin-top: 1px;
}

.btn_align_right {
	float: right;
	background: #FB6362;
	color: #FFF8FC;
	padding: 5px 14px;
	border: 2px #FDFFFA solid;
	font-size: 14px;
	letter-spacing: 0.5px;
	border-radius: 7px;
}