*{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
html{
	height: 100%;
}
body{
	height: auto;
}
#page{
	height: auto;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.top{
	width:100%;
	height:3.28rem;
	background-image:url("../img/index/index_top.png");
	background-repeat:no-repeat;
	background-size:100%;
}
#banner{
	width: 100%;
	height: 3.12rem;
	border-top: 1px solid #741418;
	border-bottom: 1px solid #741418;
}
.ban-item{
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.ban-pic{
	display: block;
	width: 100%;
}
.list{
	width: 90%;
	margin: 0 auto;
	height: auto;
	padding-bottom: 1.55rem;
	padding-top: 0.34rem;
}
.list>div{
	width: 100%;
	height: auto;
}
.list-item{
	width: calc(48% - 2px);
	height: 4.8rem;
	background-color: #ffffff;
	float: left;
	margin: 0 1%;
	margin-bottom: 0.16rem;
	border: 1px solid #c3c3c3;
	border-radius: 9px;
	overflow: hidden;
}
.item-info{
	display: block;
	width: 100%;
	height: 4rem;
	overflow: hidden;
	position: relative;
}
.new-life{
	width: 3rem;
	height: 3rem;
	display: block;
	margin: 0.4rem auto;
	background-image:url("../img/index/add_life.png");
	background-repeat:no-repeat;
	background-size:50%;
	background-position: center;
}
.item-pic{
	display: block;
	width: 100%;
	min-height: 4rem;
	background-color:white;
}
.item-title{
	display: block;
	width: 100%;
	height: 0.8rem;
	text-align: center;
	line-height: 0.8rem;
	background-color: rgba(200,200,200,0.3);
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 0.38rem;
}
.icon-list{
	width: 100%;
	height: 0.8rem;
	background-color: white;
	padding: 0.1rem 0.8rem;
	display: flex;
	list-style: none;
	margin-bottom: 0;
}
.icon-item{
	height: 0.6rem;
	width: 100%;
}
.icon-item>a{
	display: block;
	width: 0.4rem;
	height: 0.6rem;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;
}
#switch{
	display: block;
	position: fixed;
	top: 6.8rem;
	right: 0;
	height: 0.65rem;
	width: 2.75rem;
	z-index: 999;
	background-position: right;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
}
.pub{
	background-image: url("../img/index/icon/life.png");
}
.pri{
	background-image: url("../img/index/icon/stele.png");
}

