* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	overflow: hidden;
}

.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	opacity: 0.1;
	background: url("../img/inh_bg1.jpg") no-repeat;
	background-size: 100% 100%;
}


/*.stele_header begin*/

.stele_header {
	background-color: #FFE8BC;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	padding: 3px 0;
}

.stele_header span,
.stele_header marquee {
	float: left;
	font-size: 14px;
	letter-spacing: 0.8px;
}

.stele_header span {
	margin-left: 8px;
	color: #EA130F;
}

.stele_header marquee {
	color: #535353;
}


/*.stele_header end*/


/*.user_info begin*/

.user_info {
	position: absolute;
	top: 8.26667%;
	left: 6.63507%;
	width: 23.22275%;
	background: #B1B1B1;
	overflow: hidden;
}

.userhead {
	width: 51.02041%;
	background: #FFFFFF;
	text-align: center;
	border: 1px black solid;
	float: left;
}

.userhead img {
	border: 1px black solid;
	margin-top: 2px;
}

.user_level {
	width: 21.42857%;
	margin-left: 11.77551%;
	float: left;
}

.user_level img {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}


/*user_info end*/


/*.stele_navbar_left begin*/

.stele_navbar_left {
	overflow: hidden;
	position: absolute;
	top: 8.26667%;
	right: 4.9763%;
	width: 13.981%;
}

.stele_navbar_left img {
	width: 100%;
	float: left;
	margin-bottom: 15%;
}


/*.stele_navbar_left end*/


/*stele_navbar_footer begin*/

.stele_navbar_footer {
	position: absolute;
	bottom: 2.93333%;
	width: 100%;
	z-index: 2;
}

.stele_navbar_footer img {
	width: 13.75%;
	margin-left: 3%;
}

.navbar1 {
	margin-left: 8.53081% !important;
}


/*stele_navbar_footer end*/


/*.inheritor_info begin*/

.inheritor_info {
	position: absolute;
	width: 100%;
	text-align: center;
}

.inheritor_head {
	width: 10.5%;
	margin-left: 44.5%;
	height: 0;
	padding-bottom: 11.5%;
	overflow: hidden;
	box-shadow: 1px 1px 1px black;
	text-align: center;
}

.inheritor_name {
	text-align: center;
	width: 17px;
}

@media screen and (min-width: 320px) and (max-width: 347px) {
	.inheritor_info {
		/*bottom: 44%;*/
		top: 35.5%;
	}
	.inheritor_name {
		font-size: 12px;
		margin-top: 1px;
		line-height: 12px;
	}
}

@media screen and (min-width: 348px) and (max-width: 393px) {
	.inheritor_info {
		/*bottom: 46.5%;*/
		top: 35.5%;
	}
	.inheritor_name {
		font-size: 14px;
		margin-top: 1px;
		line-height: 14px;
	}
}

@media screen and (min-width: 394px) {
	.inheritor_info {
		/*bottom: 47.5%;*/
		top: 36%;
	}
	.inheritor_name {
		font-size: 14px;
		margin-top: 1px;
		line-height: 15px;
	}
}


/*.inheritor_info end*/


/*.inc_look begin*/

.inc_look {
	bottom: 44.8%;
}

.inc_look img {
	width: 5%;
}

.inc_look,
.insences {
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 1;
}


/*.inc_look end*/


/*.inc_bur begin*/

.inc_bur {
	position: fixed;
	width: 100%;
	bottom: 41.545%;
	z-index: 2;
}

.inc_bur img {
	display: block;
	width: 17.723%;
	margin-left: 41.1385%;
}


/*.inc_bur end*/


/*.send_flower begin*/

.send_flower {
	position: fixed;
	bottom: 41.1%;
	width: 12.534%;
}

.send_flower img {
	width: 100%;
	display: block;
}

.send_flower_right {
	right: 27.9929%;
}

.send_flower_left {
	left: 29.7%;
}


/*.send_flower end*/


/*榜单begin*/

.cli_bg {
	height: 0;
}

.lists {
	background: url(../img/cli_bg.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 99;
	display: none;
}

.list_logo,
.contribution_logo {
	position: absolute;
	width: 100%;
	text-align: center;
	top: -8.5%;
}

.list_logo img,
.contribution_logo img {
	width: 17.7%;
}

.lists span {
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.8px;
	position: absolute;
	left: 5.2%;
}

.tit {
	position: absolute;
	left: 5.2%;
	top: 8.5%;
}

.closed {
	position: absolute;
	width: 5.9%;
	right: 3.066%;
	top: 2.41%;
}

.list_cont {
	margin-top: 16.8%;
	height: 80%;
	overflow-y: auto;
	border-top: 1px #F0F0F0 solid;
}

.cont_ul li {
	list-style: none;
	overflow: hidden;
	border-bottom: 1px #f0f0f0 solid;
}

.top_logo,
.donator_head,
.donator_name {
	float: left;
}

.top_logo {
	width: 6.13208%;
	margin-left: 7.31133%;
	text-align: center;
}

.top_logo img {
	width: 100%;
}

.donator_head {
	width: 12.0283%;
	overflow: hidden;
	margin-left: 2.8302%;
}

.donator_head img {
	height: 100%;
}

.donator_name {
	letter-spacing: 1.24px;
	margin-left: 2.59434%;
	line-height: 20px;
	height: 40px;
}

.donator_name strong {
	font-size: 15px;
}

.donator_name p {
	color: #a6a6a6;
	font-size: 13px;
}


/*榜单end*/


/*贡献begin*/

.incense,
.flower,
.wait {
	width: 94.811%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 12px;
	margin-top: 3.73%;
}

.incense {
	background: #d5c18e;
	box-shadow: 0px 4px 1px #ebebeb;
}

.flower {
	background: #f5b146;
	box-shadow: 0px 4px 1px #ecebe7;
}

.wait {
	background: #91dbff;
	box-shadow: 0px 4px 1px #efebea;
}

.incense_logo,
.flower_logo,
.wait_logo {
	width: 17.413%;
	margin-left: 5.721%;
	float: left;
}

.incense_logo img,
.flower_logo img,
.wait_logo img {
	width: 100%;
	margin-top: 26%;
}

.incense_intro,
.flower_intro,
.wait_intro {
	float: left;
	margin-left: 5.97%;
	margin-top: 5.5%;
}

.incense_intro p,
.flower_intro p,
.wait_intro p {
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.8px;
}

.incense_intro p {
	color: #feffff;
}

.flower_intro p {
	color: #fffdfc;
}

.wait_intro p {
	color: #fffeff;
}

.incense button,
.flower button,
.wait button {
	background: #FFFFFF;
	border: 0;
	outline: none;
	position: absolute;
	right: 6.66%;
	width: 17.04%;
	height: 4.81%;
	border-radius: 10px;
	font-size: 12px;
	letter-spacing: 0.8px;
}

.incense button {
	color: #d8c18f;
	top: 22.64%;
}

.flower button {
	color: #f6ab4e;
	top: 48.28%;
}

.wait button {
	color: #80dfff;
	top: 73.92%;
}

.mask_bg {
	width: 100%;
	background-color: rgba(9, 9, 9, 0.25);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
}

.mask_cont_bg {
	width: 85.83%;
	margin: 0 auto;
	background: white;
	margin-top: 81.74%;
	border-radius: 8px;
}

.mask_tips {
	width: 93.333%;
	margin: 0 auto;
	border-bottom: 1px #cccccc solid;
	overflow: hidden;
}

.mask_tips span:first-child {
	font-size: 16px;
	float: left;
	margin-top: 8.75%;
}

.choose_cont {
	width: 39.8%;
	border: 1px #d9d9d9 solid;
	float: right;
	margin-top: 6.75%;
	margin-bottom: 2%;
	overflow: hidden;
}

.minus,
.choose_num {
	float: left;
}

.minus,
.choose_num,
.plus {
	height: 100%;
	text-align: center;
}

.minus {
	border-right: 1px #d9d9d9 solid;
	color: #ebebeb;
	font-size: 20px;
}

.plus {
	float: right;
	border-left: 1px #d9d9d9 solid;
	color: #979797;
	background: #f7f7f7;
	font-size: 20px;
}

.choose_num {
	border: 0;
	outline: none;
	font-size: 14px;
}

.rest_num {
	clear: both;
	text-align: right;
	font-size: 12px;
	margin-bottom: 2%;
	color: #68312a;
}

.rest_num img {
	width: 12px;
	margin-right: 5px;
}

.rest_num img,
.rest_num span {
	display: inline-block;
	vertical-align: middle;
}

.mask_btns {
	width: 93.333%;
	margin: 3.75% auto;
	overflow: hidden;
	text-align: center;
}

.cancel,
.sure {
	border: none;
	outline: none;
	color: #68312a;
	font-size: 16px;
	background: white;
}

.cancel {
	float: left;
	width: 49.5%;
	border-right: 1px #CCCCCC solid;
}

.sure {
	float: right;
	width: 50%;
}

.to_recharge {
	width: 25.796%;
	border: 1px #CCCCCC solid;
	outline: none;
	font-size: 16px;
	background: white;
	color: #68312a;
	margin-bottom: 3.75%;
}

.al_num {
	bottom: 0;
	font-size: 0;
	opacity: 0;
	color: #ECB20E;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 3;
}


/*贡献end*/


/*香*/

.insences {
	bottom: -200%;
}

.insences img,
.insences span {
	display: inline-block;
	vertical-align: middle;
}

.insences img {
	width: 25.31754%;
}

.insences span {
	font-size: 150px;
	color: #ECB20E;
}


/*花*/

.big_flower {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: -200%;
	opacity: 0;
	z-index: 3;
}

.big_flower img,
.big_flower span {
	display: inline-block;
	vertical-align: middle;
}

.big_flower img {
	width: 43%;
}

.big_flower span {
	font-size: 100px;
	color: #ECB20E;
}


/*云,轮播文字*/

.clouds_one,
.clouds_two {
	background: url(../img/cloud_one.png) no-repeat;
	background-position: right;
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation-fill-mode: forwards !important;
	-ms-animation-fill-mode: forwards !important;
	-o-animation-fill-mode: forwards !important;
	animation-fill-mode: forwards !important;
}

.clouds_one {
	height: 100%;
	width: 185%;
	display: none;
	left: 0;
	top: 0;
	-webkit-animation: cloud_one 50s linear 1;
	-moz-animation: cloud_one 50s linear 1;
	-o-animation: cloud_one 50s linear 1;
	animation: cloud_one 50s linear 1;
}

.clouds_two {
	height: 100%;
	width: 180%;
	display: none;
	right: 0;
	top: 0;
	-webkit-animation: cloud_two 40s linear 1;
	-moz-animation: cloud_two 40s linear 1;
	-o-animation: cloud_two 40s linear 1;
	animation: cloud_two 40s linear 1;
}

@keyframes sky_background {
	from {
		opacity: 0.1
	}
	to {
		opacity: 1
	}
}

@-webkit-keyframes cloud_one {
	from {
		left: -50%;
	}
	to {
		left: -2000%;
	}
}

@-moz-keyframes cloud_one {
	from {
		left: -50%;
	}
	to {
		left: -2000%;
	}
}

@keyframes cloud_one {
	from {
		left: -50%;
	}
	to {
		left: -2000%;
	}
}

@-webkit-keyframes cloud_two {
	from {
		right: -50%;
	}
	to {
		right: -2000%;
	}
}

@-moz-keyframes cloud_two {
	from {
		right: -50%;
	}
	to {
		right: -2000%;
	}
}

@keyframes cloud_two {
	from {
		right: -50%;
	}
	to {
		right: -2000%;
	}
}

#scrollBox {
	position: absolute;
	bottom: 17%;
	font-size: 18px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 420px;
	line-height: 30px;
	z-index: 1001;
}

ul,
li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	color: #65282A;
}

#con1 {
	position: absolute;
	bottom: -420px;
	width: 100%;
}

#con2 {
	display: none;
}

.delete {
	position: absolute;
	bottom: 11%;
	right: 2%;
	border: 1px #65282A solid;
	border-radius: 5px;
	padding: 3px 9px 5px 9px;
	font-size: 14px;
}

.delete img {
	width: 100%;
	display: block;
}