* {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	background: #F7F6F2;
}
.dynamics{
	width: 100%;
	background: white;
	padding-top: 20px;
	margin-bottom: 10px;
}
.dynamic{
	width: 100%;
	max-width: 92%;
	margin: 0 auto;
	overflow: hidden;
}
.user_head{
	width: 100%;
	max-width: 15%;
	text-align: center;
	float: left;
}
.user_head img{
	width: 42px;
	height: 42px;
}
.user_head p{
	font-size: 12px;
	color: #A0A0A0;
}
.content{
	width: 100%;
	max-width: 84%;
	float: right;
}
.user_info{
	overflow: hidden;
	margin-top: 4px;
	margin-bottom: 4px;
}
.user_name{
	float: left;
	font-size: 14px;
	letter-spacing: 0.5px;
}
.time{
	float: right;
	font-size: 12px;
	color: #A0A0A0;
	display: inline-block;
	vertical-align: middle;
}
.publish{
	color: #A0A0A0;
	font-size: 12px;
}
.content_words{
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 20px;
	word-wrap: break-word;
	padding-top: 12px;
	padding-bottom: 12px;
}
.content_pics{
	overflow: hidden;
}
.pic1{
	overflow: hidden;
	width: 48%;
	float: left;
}
.pic2{
	overflow: hidden;
	width: 48%;
	float: right;
}
.content_pics img{
	width: 100%;
	display: block;
	margin-bottom: 12px;
}
.content_pics img:nth-child(odd){
	float: left;
}
.content_pics img:nth-child(even){
	float: right;
}

.discuss{
	float: right;
	margin-bottom: 12px;
	cursor: pointer;
}
.discuss img{
	width: 22px;
	display: inline-block;
	vertical-align: middle;
}
.discuss a{
	display: inline-block;
	vertical-align: middle;
	color: #A0A0A0;
	text-decoration: none;
}
.check_more{
	text-align: center;
}
.more{
	font-size: 12px;
	line-height: 55px;
	color: #888;
}
.dropload-load,.dropload-refresh{
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #979595;
}
