* {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
}

.all_msg {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
	margin-bottom: 10%;
}

.msg_list {
	margin-top: 10%;
	line-height: 20px;
	overflow: hidden;
}

.fl_lf {
	display: inline;
	width: 35%;
}

.bg_color {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #51D1C3;
	display: inline-block;
}

.msg_date {
	font-size: 13px;
}

.msg_info {
	font-size: 15px;
	width: 50%;
	float: right;
	overflow: hidden;
	margin-right: 3%;
}

.fl_rg {
	float: right;
	width: 16%;
}

.fl_rg img {
	width: 18px;
	display: inline-block;
	vertical-align: middle;
}

.zan_num {
	color: #FB6262;
	font-size: 13px;
}

.no_msg{
	font-size: 12px;
	text-align: center;
	color: #D5D5D5;
	margin-top: 50%;
}
