*{
	padding: 0;
	margin: 0;
}
body {
	min-height: 100%;
	background: #F3F3F3;
}
.write_board{
	width: 91.5%;
	margin: 2% 0;
}
.write_board textarea{
	resize: none;
	outline: none;
	color: #B8B8B8;
	width: 100%;
	min-height: 200px;
	line-height: 20px;
	letter-spacing: 0.5px;
	font-size: 14px;
	border: none;
	padding: 2% 4.5%;
}
::-webkit-input-placeholder {
  color: #B8B8B8;
}
:-moz-placeholder {
  color: #B8B8B8;
}
::-moz-placeholder {
  color: #B8B8B8;
}
:-ms-input-placeholder {
  color: #B8B8B8;
}
::placeholder {
  color: #B8B8B8;
}

.btn_sure{
	width: 100%;
	max-width: 94%;
	margin: 0 auto;
	text-align: right;
}

.btn_sure button{
	background: #FB6362;
	color: #FFF8FC;
	padding: 5px 11px;
	border: 0;
	font-size: 13px;
	letter-spacing: 0.5px;
	border-radius: 7px;
	outline: none;
	cursor: pointer;
}