* {
	padding: 0;
	margin: 0;
}

body {
	height: auto;
	background: none;
	background-color: white;
}

a{
	color: #939193;
	text-decoration: none;
}

.author_info {
	width: 100%;
	max-width: 94%;
	margin: 16px auto;
	height: 52px;
}

.author_info img {
	width: 52px;
	height: 52px;
	border-radius: 52px;
	display: block;
	float: left;
	margin-right: 2.8%;
}

.about_author {
	float: left;
	height: 100%;
}

.author_name {
	font-size: 14px;
	margin-top: 7px;
	margin-bottom: 6px;
}

.date {
	color: #939193;
	font-size: 12px;
}
.edit {
	color: #939193;
	font-size: 12px;
	display: inline-block;
	margin-left: 3%;
	text-align: right;
	cursor: pointer;
	position: absolute;
    top: 0.3rem;
    right: 0.5rem;
}

.edit img {
	width: 12px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.edit span{
	display: inline-block;
	vertical-align: middle;
}

.title{
	text-align: center;
	font-size:18px;
	width: 100%;
	max-width: 94%;
	margin: 0 auto;
}
.content{
	width: 90%;
	padding:0.1rem 2%;
	padding-bottom: 1rem;
	margin: 0px auto;
	margin-bottom: 0.5rem;
	border-radius: 15px;
	overflow: hidden;
	height: auto;
}

.bottom{
	box-shadow: 0px -1px 6px #DDDDDD;
	-moz-box-shadow: 0px -1px 6px #DDDDDD; /* 老的 Firefox */
	text-align: center;
	line-height: 52px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background: white;
	cursor: pointer;
}
.bottom img{
	width: 24px;
	display: inline-block;
	vertical-align: middle;
}
.bottom span{
	color: #65292B;
	display: inline-block;
	vertical-align: middle;
}
.inh-pic{
	display: block;
	width: 100%;
	margin: 2px 0;
}
.inh-text{
	display: block;
	width: 100%;
	color: #666;
	font-size: 0.4rem;
	line-height: 0.7rem;
	letter-spacing: 2px;
	text-indent: 2em;
	margin-bottom:0.25rem;
}
.msg-board{
	width: 94%;
	margin: 0 auto;
}
.msg-top{
	width: 100%;
	height: 0.78rem;
	line-height: 0.78rem;
	font-weight: 100;
	font-size: 0.36rem;
	border-bottom: 1px solid #dadada;
}
.set-msg{
	color: #0336c7;
	display: block;
	height: 100%;
	line-height: 0.78rem;
	width: 1.32rem;
	text-align: center;
	float: right;
}
.set-msg:hover{
	color: #0336c7;
}
.msg-item{
	width: 100%;
	height: auto;
	margin: 0.3rem 0;
	position: relative;
}
.user-pic{
	display: block;
	width: 1rem;
	height: 1rem;
	float: left;
	border-radius: 50%;
	border: 1px solid #dfdfdf;
}
.msg-block{
	width: calc(100% - 3rem);
	padding: 0 0.5rem;
	float: left;
}
.user-name{
	display: block;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.34rem;
	color: #666;
}
.msg-con{
	font-size: 0.37rem;
	line-height: 0.6rem;
}
.msg-con>*{
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
}
.msg-help{
	display: inline-block;
	position: absolute;
	top: 0;
	left: calc(100% - 1.2rem);
	width: 0.8rem;
	height: 0.8rem;
	font-size: 0.32rem;
	background-image: url("../img/inh/reply.png");
	background-size: 0.4rem;
	background-repeat: no-repeat;
	background-position: center;
	color: #0043cc;
}
.msg-text{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	display: none;
}
.msg-shadow{
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.msg-container{
	position: absolute;
	width: 9rem;
	height: auto;
	left: 0.5rem;
	top: 1rem;
	z-index: 2;
	background-color: white;
	border: 1px solid #88cc9d;
	padding: 0.6rem 0;
}
.msg-bor{
	width: 8rem;
	height: 4rem;
	position: relative;
	/*border-radius: 10px;*/
	border: 1px solid #ddd;
	margin: 0.6rem auto;
}
#msgText{
	display: block;
	width: calc(100% - 0.4rem);
	height: calc(100% - 0.4rem - 0.8rem);
	font-size: 0.4rem;
	margin:0.2rem;
	color: #888;
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}
#msgText>img{
	/*width: 0.55rem;*/
	height: 0.55rem;
	margin:0 0.05rem;
}
.msg-look{
	display: block;
	height: 0.7rem;
	width: 0.7rem;
	margin-left: 0.1rem;
	background-image: url("../img/inh/look2.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.msg-reply{
	display: none;
	position: relative;
	width: 8rem;
	height: 1rem;
	line-height: 1rem;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.5rem;
	color: #88cc9d;
}
.msg-reply:hover{
	color: #88cc9d;
}
#noReply{
	display: block;
	position: absolute;
	width: 1rem;
	height: 1rem;
	color: #888;
	right: 0;
	top: 0;
	font-size: 0.8rem;
	text-align: center;
}
.msg-send{
	display: block;
	width: 3.5rem;
	line-height: 0.8rem;
	height: 0.8rem;
	background-color: #37854f;
	color: white;
	border-radius: 0px;
	margin: 0.2rem auto;
	margin-top: 0.8rem;
	text-align: center;
	letter-spacing: 0.5rem;
	padding-left:0.5rem;
}
.msg-void{
	background-color: #5c5c5c;
}
.look-list{
	position: absolute;
	width: 100%;
	height: 4rem;
	overflow: auto;
	top: calc(100% + 0.2rem);
	left: 0;
	background-color: white;
	border: 1px solid #9edeb1;
	display: none;
}
.look-top{
	display: none;
	width: 0.7rem;
	height: calc(0.2rem + 2px);
	position: absolute;
	left: 0.1rem;
	bottom: calc(-0.2rem - 1px);
	z-index: 3;
	overflow: hidden;
}
.look-top>span{
	display: block;
	background-color: white;
	width: 0.7rem;
	height: 0.7rem;
	border: 1px solid #9edeb1;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 0.15rem;
}
.look-list>li{
	width: 1rem;
	height: 1rem;
	float: left;
	overflow: hidden;
}
.look-list>li>img{
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	margin: 0.2rem auto;
}
#bomLine{
	width: 100%;
	height: 1rem;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/inh/bomLine.png");
	background-position: bottom;
}
